@page "/user/sign/{handler?}"
@model MyApp.Namespace.SignInModel
@{
    ViewData["Title"] = "ĐĂNG NHẬP";
    
}
<h2 class="display-4">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Điền thông tin đăng nhập</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.signInInfoModel.UserNameOrEmail"></label>
                <input asp-for="@Model.signInInfoModel.UserNameOrEmail" class="form-control" />
                <span asp-validation-for="@Model.signInInfoModel.UserNameOrEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.signInInfoModel.Password"></label>
                <input asp-for="@Model.signInInfoModel.Password" class="form-control" />
                <span asp-validation-for="@Model.signInInfoModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="@Model.signInInfoModel.RememberMe" />
                <label asp-for="@Model.signInInfoModel.RememberMe"></label>
            </div>
            <p>Nếu chưa có tài khoản thì hãy
                <a asp-page="Register">đăng ký</a>
            </p>
            <button type="submit" class="btn btn-danger">Đăng ký</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
