@page
@model Album.Pages.Blog.DeleteModel

@{
    ViewData["Title"] = "Xóa Claim";
}

<h1>Xóa</h1>

<h3>Có chắc chắn xóa claim?</h3>
<div>
    <h4>Claim</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditClaim.ClaimType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditClaim.ClaimType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditClaim.ClaimValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditClaim.ClaimValue)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EditClaim.Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index" asp-route-roleid="@Model.role.Id">Quay lại danh sách claim</a>
    </form>
</div>
