@model IEnumerable<mvcblog.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Danh mục</h1>

<p>
    <a asp-action="Create">Tạo bài viết mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                Ngày tạo <br/>
                Cập nhật
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>Chuyên mục</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
                <a title="xem chi tiết" asp-action="Details" asp-route-id="@item.PostId">
                    <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @item.DateCreated.ToShortDateString()
                <br>
                @item.DateUpdated.ToShortDateString()
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.Raw(string.Join("<br>",
                    item.PostCategories
                    .Select(p => p.Category)
                    .ToList()
                    .Select(c => $"<i>{c.Title}</i>")))
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>


@{

    Func<int?,string> generateUrl = (int? _pagenumber)  => {
        return Url.ActionLink("Index", null, new {page = _pagenumber});
    };

    var datapaging = new {
        currentPage = ViewBag.pageNumber,
        countPages  = ViewBag.totalPages,
        generateUrl =  generateUrl
    };

}
<partial name="_Paging" model="@datapaging" />
