@model XTLASPNET.MessagePage.Message
@{
    Layout = "_Layout";
    ViewData["Title"] = @Model.title;
}
<div class="card m-4">
   <div class="card-header bg-danger text-light">
       <h4>@Model.title</h3>
   </div>
   <div class="card-body">
       @Html.Raw(Model.htmlcontent)
   </div>
   <div class="card-footer">
       Chuyển đến - <a href="@Model.urlredirect">@Model.urlredirect</a>
   </div>
</div>
