@page "/login/"
@model LoginModel
@{
    Layout = "/Views/Shared/Admin/_LoginLayout.cshtml";
    ViewData["Title"] = "ĐĂNG NHẬP";
}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
        <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
        </div>
        <form class="user" id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.UserNameOrEmail" class="form-control form-control-user" 
                aria-describedby="emailHelp" placeholder="Nhập user hoặc email"/>
            <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" class="form-control form-control-user" placeholder="Nhập mật khẩu" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
    
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                <input asp-for="Input.RememberMe" class="custom-control-input" />
                <label class="custom-control-label" asp-for="Input.RememberMe"></label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-user btn-block">Đăng nhập</button>
        

        @if ((Model.ExternalLogins?.Count ?? 0) != 0) {
            <hr>
            <form id="external-account" asp-page="./ExternalLogin" 
                asp-route-returnUrl="@Model.ReturnUrl" method="post">        
                @foreach (var provider in Model.ExternalLogins)
                { 
                    string classiconprovider = "";
                    string classprovider = "";
                    if (provider.DisplayName == "Google") {
                        classprovider = "btn-google";
                        classiconprovider = "fab fa-google fa-fw";
                    }
                    else if (provider.DisplayName == "Facebook") {
                        classprovider = "btn-facebook";
                        classiconprovider = "fab fa-facebook-f fa-fw";
                    }
                    

                    <button type="submit" class="btn @classprovider btn-user btn-block" 
                        name="provider" value="@provider.Name" 
                        title="Log in using your @provider.DisplayName account">
                        <i class="@classiconprovider"></i>
                        Đăng nhập bằng @provider.DisplayName
                    </button>
                } 
            </form>
            
        } 
        </form>
        <div class="text-center">
            <a class="small" id="forgot-password" asp-page="./ForgotPassword">Bạn quyên mật khẩu?</a>
        </div>
        <div class="text-center">
            <a class="small" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Chưa có tài khoản, đăng ký mới</a>
        </div>
    </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
